<app-header></app-header>
<div class="container m-5">
    <h1></h1>
    <div class="row">
        <div class="col-12">
            <!-- <img src="./../../assets/images/CSD.JPG" class="img-fluid" alt="" /> -->
            <h3>Custom Software Development</h3> <p><img src="./../../assets/images/CSD.JPG" alt="Pineapple" style="margin-right: 15px; float: left;">
                Highly customized software solutions that support unique combination of platforms and applications that address cross-functional business requirements of our clients.

                Rendered by competent team of professionals who are well versed in software development
                Wide range of custom programming skills involving the latest and most effective development technologies
                With our competence and experience, we deliver excellent products and services to our customers
                Tailor-made to suit the exact needs ofÂ  your business</p>
        </div><!--column end here-->

        <!-- <div class="col-6">        
            <h1>gfhghg</h1>
        </div>column end here -->
    </div><!--row end here-->

    
</div><!--container end here-->