<app-header></app-header>
<div class="container">
    <div style="background-color: #99A3A4">
        <form>
            <div class="mt-5 pt-5">
                    <a routerLink="/projecttask" routerLinkActive="active" class="btn btn-primary pull-right"><span
                        class="glyphicon glyphicon-add"></span>
                            <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                            Create Project Task
                        </a>
                <h3 class="head text-left">Project Discription</h3>

                </div>
                <table class="greenTable table">
                    <thead>

                        <tr>
                            <th>Project Id</th>
                            <td>
                                <span *ngIf="!isActive">{{project.projectId}}</span>
                                <input *ngIf="isActive" name="projectId" class="form-control mr-sm-2" [(ngModel)]="project.projectId" />
                            </td>
                        </tr>
                        <tr>
                            <th>Project Name</th>
                            <td>            
                                <span *ngIf="!isActive">{{project.projectName}}</span>
                                <input *ngIf="isActive" name="projectName" class="form-control mr-sm-2" [(ngModel)]="project.projectName" />
                            </td>
                        </tr>
                        
                        
                        <tr>
                            <th>ProjectDiscription</th>
                            <td>
                                <span *ngIf="!isActive">{{project.projectDiscription}}</span>
                                <input *ngIf="isActive" name="projectDiscription" class="form-control mr-sm-2" [(ngModel)]="project.projectDiscription" />
                            </td>
                        </tr>
                        
                        <tr>
                            <th>Project Start Date</th>
                            <td>
                                <span *ngIf="!isActive">{{project.projectStartDate | date: 'dd/MM/yyyy'}}</span>
                                <input *ngIf="isActive" name="projectStartDate" class="form-control mr-sm-2" [(ngModel)]="project.projectStartDate" />
                            </td>
                        </tr>
                        <tr>
                            <th>Project End Date</th>
                            <td>
                                <span *ngIf="!isActive">{{project.projectEndDate | date: 'dd/MM/yyyy'}}</span>
                                <input *ngIf="isActive" name="projectEndDate" class="form-control mr-sm-2" [(ngModel)]="project.projectEndDate" />
                            </td>
                        </tr>
                        <tr>
                            <th>Action</th>
                            <td> 
                                    <a routerLink="/projects" routerLinkActive="active"
                                    class="btn btn-primary btn-sm"><span
                                        class="glyphicon glyphicon-add"></span>Back</a>
                                        
                                    <button *ngIf="!isActive" (click)=" isActive = !isActive;"
                                    class="btn btn-primary btn-sm1"><span
                                    class="glyphicon glyphicon-edit"></span> Edit</button>
                                   
                                    <button *ngIf="isActive" (click)="backToDiscription(); isActive = !isActive;"
                                    class="btn btn-primary btn-sm1"><span
                                    class="glyphicon glyphicon-cancel"></span> Cancel</button>
                                    &nbsp;
                                    <button *ngIf="isActive" (click)="createProject(project); isActive = !isActive;"
                                    class="btn btn-primary btn-sm1"><span
                                    class="glyphicon glyphicon-edit"></span> Save</button>
                                    &nbsp;

                                  <button *ngIf="!isActive" (click)="deleteProject(project.pid)"
                                    class="btn btn-primary btn-sm1"><span
                                     class="glyphicon glyphicon-remove"></span> Delete</button>
                            </td>
                        </tr>
                    </thead>
                </table>
        </form>
        
    </div>
<router-outlet></router-outlet>
</div>