.modal-register {
	color: #636363;
	width: 450;

}
.modal-register .modal-content {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: Cornflowerblue;
	width: 500px;
	margin-left: 8%;
	margin-top: 19%;
}

.modal-register h4 {
	text-align: center;
	font-size: 26px;
	margin: 10px 0 -15px;
}
.modal-register .form-control:focus {
	border-color: #70c5c0;
}
.modal-register .form-control, .modal-login .btn {
	min-height: 30px;
	border-radius: 3px;
	}

.modal-register.modal-dialog {
	margin-top: 13px;
}
.modal-register .btn {
	background-color: #0062cc;
    border-color: #005cbf;

    border-radius: 4px;
	
    text-decoration: none;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
    line-height: normal;
    border: none;
    margin-left: -8%;
    margin-right: 17%;
    margin-top: 2%;
    padding: 9px;
    padding-right: 22px;
	
}
.modal-register .btn:hover, .modal-register .btn:focus {
	background: #7a45ab;
	outline: none;
}
.button{
	align-items: center;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 8px 30px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
	margin-left: 57%;
	
}