* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  dl {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  dl dt {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: white;
    font-size: 18px;
    transition: 0.2s;
    width: 60%;
    margin-left: 20%;
  
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  dl dt:nth-child(odd) {
    background: white;
  }
  
  /* Darker background-color on hover */
  dl dt:hover {
    background: cornflowerblue;
  }
  
  /* When clicked on, add a background color and strike out text */
  dl dt.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  dl dt.checked::before {

    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: cornflowerblue;
    padding: 30px 40px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 67px;
    margin-top: 6%;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  .input1 {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 9px;
    float: left;
    font-size: 16px;
  }

  .input2 {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 9px;
    float: left;
    font-size: 16px;
    margin-top: 2%
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 8px;
    width: 16%;
    background: darkgrey;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 0;
    margin-left: 84%;
    margin-top: -6%;
  }
  
  .addBtn:hover {
    background-color:grey;
  }
/* .backbtn{
  padding: 9px;
  width: 17%;
  background: darkgrey;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
  margin-left: 85%;
  margin-top: -5%;;
} */
  
.btn-group-sm>.btn, .btn-sm {
  margin-top: -1px;
  padding: 11px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 120px;
  margin-left: 62px;
}