<app-header></app-header>
    <div style="background-color: #99A3A4">
        <form>
            <div class="addbutton"><h3 class="head" style="color: black">Projects
                <a routerLink="/addproject" routerLinkActive="active"
                    class="btn btn-primary btn-sm"><span
                        class="glyphicon glyphicon-add"></span>Add Project</a></h3></div>
           
                <table class="greenTable">
                    <thead>
                        <tr>
                            <th>Project Id</th>
                            <th>Project Name</th>                            
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let project of projectList;">
                                <td><b>{{project.projectId}}</b></td>
                                <td><b ><a style="color: black" class ='btn'> <i (click)="routeWithData(project.pid)">{{project.projectName}}</i></a></b></td>         
                            </tr>
                    </tbody>
                </table>
        </form>
    </div>

