<app-header></app-header>

<!-- details card section starts from here -->
<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./../../assets/images/CSD.JPG" alt="">
                        
                    </div>
                    <div class="card-desc">
                        <h3>Custom Software Development</h3>
                        <p>Highly customized software solutions that support unique combination of platforms and applications that address cross-functional business requirements of our clients.
                          </p>
                            <a class="btn-card"><i (click)="getCustomSoftwareDevelopment()">Read</i></a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./../../assets/images/ECOM2.jpg" alt="">
                        
                    </div>
                    <div class="card-desc">
                        <h3>E-Commerce Portals</h3>
                        <p>We specialize in developing dynamic database-driven E-Commerce Portals, the most cost-effective way of promoting your business online.</p>
                            <a  class="btn-card"><i (click)="getEcommercePortals()">Read</i></a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="./../../assets/images/SNS.jpg" alt="">
                        
                    </div>
                    <div class="card-desc">
                        <h3>Social Networking Development</h3>
                        <p>We provide Social Networking Website Design with bespoke features to help members connect with each other.</p>
                            <a class="btn-card"><i (click)="getSocialNetworking()">Read</i></a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->

<app-footer></app-footer>