<app-header></app-header>

<div id="myDIV" class="header">
    <div class="container register">
        <div class="row"><br>
            <h3>Contact Us:</h3>
            <div class="col-md-4">
                <br> <br>
                <p>
                    <b>Corporate Office</b><br>201-205 Bansi Trade Center,<br>
                    581/5 M. G. Road<br> Indore - MP 452001<br> Phone:
                    91-731-4261100<br> Fax: 91-731-4261234<br>
                    Website: <a href="https://www.yash.com/">www.yash.com</a>
                </p>
            </div>

            <div class="col-md-4">
                <br> <br>
                <p>
                    <b>Magarpatta City</b><br> A & B Wing,Level 02, Tower -1,<br>
                    Cybercity, Magarpatta City,<br> Hadapsar,Pune - 411013(MH)<br>
                    Phone: 91-20-71258000<br>
                    Website: <a href="https://www.yash.com/">www.yash.com</a>
                </p>
            </div>
        </div>
    </div>
  </div>
